In [463]:
import pandas as pd

dh2012 = pd.read_csv('data/dh2012.csv')
dh2012 = dh2012.fillna(method='ffill')
dh2012 = dh2012[1:]

filter = dh2012['Project still exists?'] == 'Yes'
dh2012_active = dh2012[filter]
dh2012_inactive = dh2012[~filter]

In [384]:
# top2012_all = pd.DataFrame(columns=["project","cite_count","is_active"])

# for idx,project in enumerate(dh2012_active['Project Title'].value_counts().index.tolist()):
#     # is_active = dh2012.loc[dh2012['Project Title'] == project, 'Project still exists?'].to_list()[0]
#     row = {'project': project, 'cite_count': dh2012['Project Title'].value_counts()[idx]}
#     top2012_active = top2012_active.append(row, ignore_index = True)
    
# top2012_active = top2012_active[:10]


# top2012_all

Empty DataFrame
Columns: [project, cite_count, is_active]
Index: []

In [458]:
top2012_active = pd.DataFrame(columns=["project","cite_count"])

top2012_active

Empty DataFrame
Columns: [project, cite_count]
Index: []

In [461]:
for idx,project in enumerate(dh2012_active['Project Title'].value_counts().index.tolist()):

    row = {'project': project, 'cite_count': dh2012_active['Project Title'].value_counts()[idx]}
    top2012_active = top2012_active.append(row, ignore_index = True)
    
top2012_active = top2012_active[:10]

top2012_active

                                          project cite_count
0                                          Zotero         16
1                                    Ngram Viewer         15
2                                    Google Books          9
3                                Rossetti Archive          5
4  The Nineteenth-Century Digital Concord Archive          4
5                    Digital Humanities Now (DHN)          4
6                           CUNY Academic Commons          4
7                      HATHITrust Digital Library          4
8                                           Omeka          4
9                 Mapping the Republic of Letters          4

In [456]:
top2012_inactive = pd.DataFrame(columns=["project","cite_count"])

top2012_inactive

Empty DataFrame
Columns: [project, cite_count]
Index: []

In [460]:
for idx,project in enumerate(dh2012_inactive['Project Title'].value_counts().index.tolist()):

    row = {'project': project, 'cite_count': dh2012_inactive['Project Title'].value_counts()[idx]}
    top2012_inactive = top2012_inactive.append(row, ignore_index = True)
    
top2012_inactive = top2012_inactive[:10]

top2012_inactive

                                             project cite_count
0                                        Woodchipper          8
1                                Looking for Whitman          7
2                                           THATCamp          3
3                        Shakespeare Quartos Archive          2
4                                         Topicmarks          2
5                          Preserving Virtual Worlds          2
6                                       SmartChoices          2
7  The Online Archive of Nineteenth-Century U.S. ...          1
8               Emory Women Writers Resource Project          1
9                                         Crossroads          1

In [480]:
top2012_inactive.to_csv('csv/top2012_inactive.csv',  index=False)
top2012_active.to_csv('csv/top2012_active.csv', index=False )